@media (min-width: 345px) {
    .contact-me .container .content .text h1 {
        font-size: 2rem;
    }


    .contact-me .container .content .the-form form .button-send .btn {
        width: 100%;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .contact-me .container .content .text h1 {
        font-size: 2.5rem;
    }

    .contact-me .container .content .the-form form .button-send .btn {
        width: 100%;
        padding: .6rem 0;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .contact-me .container .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .contact-me {
        background-image: linear-gradient(105.3deg, rgba(30, 39, 107, 1) 21.8%, rgba(77, 118, 221, 1) 100.2%);
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        padding: 0;
    }

    .contact-me .container .content .the-form form {
        padding: 3rem;
        background-color: aliceblue;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 20px;
    }

    .contact-me .container .content .text h1 {
        color: #fff;
        font-size: 4rem;
        margin: auto;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
        text-align: left;
    }

    .contact-me .container .content .text .breadcrumb {
        background-color: rgb(0, 0, 0, 0);
        margin-top: 1.5rem;
        font-size: 1.1rem;
        display: flex;
        justify-content: left;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}